/* Geral*/ 
body {
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
}
.row {
    padding: 70px 0;
}
p, li {
    color: #fedee7;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
    background-color: #f8b0c4;
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
    width: 120px;
}
.navbar-brand {
    padding: 0;
    color: rgb(7, 7, 7);
}
#navbar-links a {
    color: rgb(8, 8, 8);
}
.navbar-brand:hover {
    color: rgb(8, 8, 8);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* sobre a empresa */

.black p, li{
    color: black;
    font-size: 20px;
}

#about-area {
    background-color: rgba(248, 179, 233, 0.658);
}

.main-title {
    color: black;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 25px;
    text-transform: uppercase;
}

.about-list {
    list-style: none;
    padding-left: 0;
}

#about-list {
    line-height: 30px;
}

.about-i {
    color: rgb(248, 246, 250);
    padding-right: 30px;
}